<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<!-- aop관련 자동 프록시 설정 -->
	<aop:aspectj-autoproxy />
<!--
	- 자동으로 등록하기 com.example이하의 파일을 다 뒤져서 
		@Component 어노테이션 있으면 bean 등록함
	- context:component-scan 얘 있으면 context:annotation-config 없어도 됨
 -->
	<context:component-scan base-package="com.example" />
	<context:annotation-config />

<!-- bean 등록하는 전통적인 방식 -->
	<bean class="com.example.model.Dept">
		<property name="deptno" value="50" />
		<property name="dname" value="총무부" />
		<property name="loc" value="광주" />
	</bean>

<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value ="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/world" />
		<property name ="username" value= "jspbook" />
		<property name="password" value="1234" />
</bean>


</beans>
